<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="row">
    <div class="rightbar_content">
      <div class="single_blog_sidebar wow fadeInUp">
        <h2>The Featured Stuff</h2>
        <ul class="featured_nav">
          <li> <a class="featured_img" href="#"><img src="images/animal_rights.jpg" alt=""></a>
            <div class="featured_title"> <a class="" href="pages/single.html">Fight for Animal Rights at Sproul</a> </div>
          </li>
          <li> <a class="featured_img" href="#"><img src="images/ragamala_dance.jpg" alt=""></a>
            <div class="featured_title"> <a class="" href="#">Ragamala Dance Company Presents: Written in Water</a> </div>
          </li>
          <li> <a class="featured_img" href="#"><img src="images/odesza.jpeg" alt=""></a>
            <div class="featured_title"> <a class="" href="#">ODESZA 2017 - A Moment Apart</a> </div>
          </li>
        </ul>
      </div>
      <div class="single_blog_sidebar wow fadeInUp">
        <h2>You might also like</h2>
        <ul class="middlebar_nav wow">
          <li> <a href="#" class="mbar_thubnail"><img alt="" src="images/hot_img1.jpg"></a> <a href="#" class="mbar_title">Tour de France 2017 Replay</a> </li>
          <li> <a href="#" class="mbar_thubnail"><img alt="" src="images/hot_img2.jpg"></a> <a href="#" class="mbar_title">Food for hope - charitable drive to help homeless children</a> </li>
          <li> <a href="#" class="mbar_thubnail"><img alt="" src="images/hot_img1.jpg"></a> <a href="#" class="mbar_title">Tour de France 2016 Replay</a> </li>
          <li> <a href="#" class="mbar_thubnail"><img alt="" src="images/hot_img1.jpg"></a> <a href="#" class="mbar_title">Tour de France 2015 Replay</a> </li>
        </ul>
      </div>
      <div class="single_blog_sidebar wow fadeInUp">
        <h2>Popular Tags</h2>
        <ul class="poplr_tagnav">
          <li><a href="#">Arts</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Nature</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Tourism</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
