<div id="hotThreads" class="tab-pane fade">
  <div class="col-sm-12 col-md-6 col-lg-5" style="position:absolute; left:10px">
    <div class="row">
      <div class="middlebar_content">
        <h2 class="yellow_bg">What's Hot</h2>
        <div class="middlebar_content_inner wow fadeInUp">
          <ul class="middlebar_nav">
            <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#">Do you think students would be interested in a small "Social Implications of AI" course at Berkeley?</a> </li>
            <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#">"Useful" Courses</a> </li>
            <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#">Data 8/Stat 88 vs. CS 10</a> </li>
            <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#">[Men’s Basketball] Cal Defeats CSUN 83-63 to a roaring crowd in Haas Pavilion. Go Bears!</a> </li>
            <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#">Transfer from out of state 4 yr into EECS worth it?</a> </li>
        </div>
        <div class="popular_categori  wow fadeInUp">
          <h2 class="limeblue_bg">Most Popular Topics</h2>
          <ul class="poplr_catgnva">
            <li><a href="#">Business</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Health &amp; Wellness</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Memes</a></li>
            <li><a href="#">Sports</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
